# Health Matters Project - Code Owners
# These users will be automatically requested for review when someone opens a pull request

# Default owners for everything in the repo
* @Health-Matters/core-approvers

# Backend code
/Backend/** @Health-Matters/core-approvers

# Frontend code
/Frontend/** @Health-Matters/core-approvers